
  <h1>Account</h1>
  <form [formGroup]="anForm">
    <table>
      <tr>
        <td>Customer Name</td>
        <td>: </td>
        <td>
          <select formControlName = 'custnumber'>
          <option> -- Choose -- </option>
          <option *ngFor='let item of customer' [ngValue]='item.custnumber'>{{item.firstname}}</option>
        </select>
      </td>
      </tr>
      <tr>
        <td>Account Number</td>
        <td>: </td>
        <td><input type='number' formControlName = 'accountNumber' placeholder='99'></td>
      </tr>
      <tr>
        <td>Open Date</td>
        <td>: </td>
        <td><input type='date' formControlName = 'openDate'></td>
      </tr>
      <tr>
        <td>Balance</td>
        <td>: </td>
        <td><input type='number' formControlName = 'balance' placeholder='9000000'></td>
      </tr>
    </table>
  </form>
  <button type='button' (click)='cancel()'>Cancel</button> ||
  <button type='button' (click)='updateAccount()'>Update</button> ||
  <button type='button' (click)='addAccount()'>Submit</button>
