<div style="text-align:center">
  <h1>
    Customer {{customerData}}
  </h1><br>

  <label for="">Name: </label>
  <input [(ngModel)]="customerData2Ways">
  {{customerData2Ways}}<br><br>

  <label for="">Address: </label>
  <input [(ngModel)]="customerData2Ways">
  {{customerData2Ways}}<br><br>

  <button (click)="testAlert()">Alert</button><br>
  <button (click)="ok()">OK</button><br>

  <button pButton label="Show" (click)="showTest2 = true">Show</button>
  <button pButton label="Hide" (click)="showTest2 = false">Hide</button>

  <app-test2 *ngIf="showTest2"></app-test2>
  <app-test2 [temp]="customerData2Ways"></app-test2>
</div>